<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit | NoteStream</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
<div class="page-container">

  <%- include("partials/header.ejs") %>

  <main class="content new-section">

    <div class="new-wrapper">

      <h1 class="new-heading">Edit Post</h1>

      <form action="/edit/<%= post.id %>" method="POST" class="new-form">

        <div class="new-input-group">
          <label>Post Title</label>
          <input 
            type="text" 
            name="title"
            maxlength="60"
            value="<%= post.title %>"
            required>
        </div>

        <div class="new-input-group">
          <label>Content</label>
          <textarea 
            name="content"
            rows="8"
            required><%= post.content %></textarea>
        </div>

        <div class="publish-wrapper">
          <button type="submit" class="publish-btn">
            Update
          </button>
        </div>

      </form>

    </div>

  </main>

  <%- include("partials/footer.ejs") %>

</div>
</body>
</html>